body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./assets/background.png);
    background-size: 'cover';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home{
  display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
   margin-top: 10px;
   margin-bottom: 10px;
}
.card{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.card-body{
  padding: 20px;
  width: auto;
  max-width: auto;
  text-align: center;
  font-family: Arial;
  margin-bottom: 5px;
  text-align: left;
}

.title{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.balance{
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-left: 5px;
  outline-style: solid;
  outline-width: 1px;
}
.form-container{
  display: grid;
}

label{
  margin-top: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

select{
  outline: 0;
  margin-top: 5px;
  border-width: 0 0 2px;
  border-color: blue;
  padding: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

select:focus {
  border-color: green
}
input{
  outline: 0;
  margin-top: 5px;
  border-width: 0 0 2px;
  border-color: blue;
  padding: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-family:inherit;
  font-size: inherit;
}

input:focus {
  border-color: green
}

button{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:16px;
  font-weight: bold;
  background-color: rgb(236, 232, 232);
  padding: 10px 24px;
  border-radius: 30px;
  border: black;
  transition-duration: 0.4s;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}
button:hover {
  cursor: pointer;
  background-color: #000000cc; /* Green */
  color: rgb(255, 249, 249);
}
table {
  background-color: rgb(255, 255, 255);
  border-spacing: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}
td{  
  font-style: oblique;
  font-weight: 500;
}

#even{
  background-color:#8a8a88;
}
.heading{
  color: rgb(207, 255, 145);
  font-family: Georgia, sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

.table{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: fit-content;
}

.auth-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth{
  padding: 30px;
  background-color: #5759a8;
  border-radius: 15px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.signup-link{
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 232, 232);
}
.signup-link:hover{
  color: rgba(248, 16, 16, 0.87);
}

.bar{
  background-color: rgb(250, 250, 250);
  max-width: 50%;
  margin:auto;
  margin-top: 10%;
  height: 100%;
}